:root {
    --color-grey-4: #262b2f;
    --color-grey-3: #515559;
    --color-grey-2: #a8aaac;
    --color-grey-1: #e9eaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-grey-4);
    color: var(--color-grey-1);
}

body.dark {
    background-color: var(--color-grey-1);
    color: var(--color-grey-4);
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--color-grey-3), var(--color-grey-1));
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, var(--color-grey-3), var(--color-grey-2));
}

nav {
    width: 100%;
    height: 3rem;
    background-color: var(--color-grey-3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav>img {
    height: 80%;
    aspect-ratio: 1 / 1;
}

nav>a {
    text-decoration: none;
    background-color: var(--color-grey-3);
    color: var(--color-grey-1);
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
}

nav>a::after {
    display: block;
    content: "";
    border-bottom: solid 2px;
    border-image-source: linear-gradient(90deg,
            var(--color-grey-2),
            var(--color-grey-3));
    border-image-slice: 1;
    padding-bottom: 1%;
    transform: scaleX(0);
    /* transform-origin: right; */
    transition: transform 300ms ease-in-out;
}

nav>a:hover::after {
    transform: scaleX(1);
    /* transform-origin: left; */
}

.switch {
    background: linear-gradient(90deg, rgb(25, 185, 213), #b2e1f7);
    border: solid 1px #6c757d;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    height: 30px;
    width: 60px;
}

.switch .span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    align-content: center;
}

.switch::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: unset;
    right: 0;
    border: solid 1px #343d5b;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: linear-gradient(90deg, rgb(15, 23, 49), #343d5b);
}

.switch.active::after {
    right: unset;
    left: 0;
}

.switch-icon {
    padding: 4px;
}

#home {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey-4);
    min-height: 80vh;
    margin-bottom: 3rem;
}

#home>div {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    color: var(--color-grey-1);
}

body.dark #home {
    background-color: var(--color-grey-1);
}

body.dark #home>div {
    color: var(--color-grey-4);

}

h1 {
    font-size: 50px;
    color: var(--color-grey-2);
    margin-bottom: 1rem;
}

body.dark h1 {
    color: var(--color-grey-3);
}

p,
li {
    font-size: 25px;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-indent: -50px;
    opacity: 0.3;
}

.img-container {
    margin: 0 !important;
    padding: 0 !important;
}

#home .img-container {
    position: relative;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#home .imagen {
    position: absolute;
    top: 3rem;
}

#intro,
#projects,
#about,
#contact {
    padding: 5rem;
    width: 100%;
}

#intro>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--color-grey-2); */
}

ul {
    list-style-type: circle;
}

.texto {
    margin: auto;
    padding: 0 30px 0 80px;
}

.cards,
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 18rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-grey-2);
    text-align: center;
    box-shadow: 0 0.125rem 0.4rem var(--color-grey-2);
}

body.dark .card {
    border-color: var(--color-grey-3);
    box-shadow: 0 0.125rem 0.4rem var(--color-grey-3);
}

.card img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card h4 {
    font-size: 20px;
    margin: 1rem 0;
    color: var(--color-grey-1);
    text-decoration: none;
}

body.dark .card h4 {
    color: var(--color-grey-4);
}

.profile {
    display: flex;
    flex-direction: column;
    width: 7rem;
    margin: 1rem;
}

.profile>img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid var(--color-grey-2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile>p {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
}

#contact>p {
    text-align: center;
    width: 75%;
    margin: auto;
}

#redes {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#redes>a {
    margin: 0 1rem;
}

#redes button {
    border: 4px solid var(--color-grey-2);
    border-radius: 10px;
    margin-left: 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* body.dark #redes button {
    border-color: var(--color-grey-3);
} */

#redes button:hover {
    translate: 10px;
}

#redes button>a {
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

body.dark #redes button > a {
    background-color: var(--color-grey-1);
    /* color: var(--color-grey-4); */
}

#redes button>a>svg {
    margin-right: 0.5rem;
}

#redes>a>svg:hover {
    scale: 1.2;
}

footer {
    background-color: var(--color-grey-2);
    color: var(--color-grey-4);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark footer {
    background-color: var(--color-grey-3);
    color: var(--color-grey-1);
}

@media (max-width: 1240px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    p,
    li {
        font-size: 16px;
        margin-bottom: 0.75rem;
    }

    .img-container {
        width: 80%;
    }
}

@media (max-width: 1040px) {
    #home>div {
        margin: 0;
        margin-top: 5rem;
    }

    .img-container {
        width: 50%;
    }

    .imagen {
        margin-top: 0 !important;
        padding: 0 !important;
    }

    #intro .texto {
        padding: 2rem;
    }
}

@media (max-width: 900px) {

    #home>div,
    #intro>div {
        flex-direction: column;
    }

    .img-container {
        width: 80%;
    }
}